.main {
  width: 95vw;
  display: flex;
}

.command {
  flex-grow: 1;
}

.users {
  flex-grow: 3;
}

.users-grid {
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.bordered {
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
}